---
const services = [
  {
    title: 'Consultas',
    description:
      'Consultas de vista com oftalmologistas capacitados para cuidar da saúde dos seus olhos, garantindo diagnósticos precisos e tratamentos eficazes.',
    link: 'https://wa.me/5516992627740',
    textLink: 'Agende Online',
    iconHtml: `<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" width="30" height="30" class="text-primary" xmlns="http://www.w3.org/2000/svg"><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path><path d="M10 14l4 0"></path><path d="M12 12l0 4"></path></svg>`
  },
  {
    title: 'Exames',
    description:
      'Diversidade em exames oftalmológicos com equipamentos modernos para garantir um diagnóstico seguro e preciso. Realize exames de rotina até avaliações específicas.',
    link: 'https://wa.me/5516992627740',
    textLink: 'Agende Online',
    iconHtml: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" width="30" height="30" class="text-primary" xmlns="http://www.w3.org/2000/svg"><path d="M320.2 243.8l-49.7 99.4c-6 12.1-23.4 11.7-28.9-.6l-56.9-126.3-30 71.7H60.6l182.5 186.5c7.1 7.3 18.6 7.3 25.7 0L451.4 288H342.3l-22.1-44.2zM473.7 73.9l-2.4-2.5c-51.5-52.6-135.8-52.6-187.4 0L256 100l-27.9-28.5c-51.5-52.7-135.9-52.7-187.4 0l-2.4 2.4C-10.4 123.7-12.5 203 31 256h102.4l35.9-86.2c5.4-12.9 23.6-13.2 29.4-.4l58.2 129.3 49-97.9c5.9-11.8 22.7-11.8 28.6 0l27.6 55.2H481c43.5-53 41.4-132.3-7.3-182.1z"></path></svg>`
  },
  {
    title: 'Cirurgias',
    description:
      'Diversos tipos de cirurgias oftalmológicas são realizadas em nossa clínica. Damos destaque para a cirurgia da catarata, feita de forma rápida, segura e sem filas.',
    link: 'https://wa.me/5516992627740',
    textLink: 'Agende Online',
    iconHtml: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512" width="30" height="30" class="text-primary" xmlns="http://www.w3.org/2000/svg"><path d="M159.88,175.82h64v64a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16v-64h64a16,16,0,0,0,16-16v-64a16,16,0,0,0-16-16h-64v-64a16,16,0,0,0-16-16h-64a16,16,0,0,0-16,16v64h-64a16,16,0,0,0-16,16v64A16,16,0,0,0,159.88,175.82ZM568.07,336.13a39.91,39.91,0,0,0-55.93-8.47L392.47,415.84H271.86a16,16,0,0,1,0-32H350.1c16,0,30.75-10.87,33.37-26.61a32.06,32.06,0,0,0-31.62-37.38h-160a117.7,117.7,0,0,0-74.12,26.25l-46.5,37.74H15.87a16.11,16.11,0,0,0-16,16v96a16.11,16.11,0,0,0,16,16h347a104.8,104.8,0,0,0,61.7-20.27L559.6,392A40,40,0,0,0,568.07,336.13Z"></path></svg>`
  },
  {
    title: 'Resultado dos Exames',
    description: 'Acesse aqui os resultados dos seus exames.',
    link: 'https://semprevisao.sivoe.med.br/',
    textLink: 'Acesse agora',
    iconHtml: `<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" width="30" height="30" class="text-primary" xmlns="http://www.w3.org/2000/svg"><path d="M64 96c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 256-64 0 0-256L128 96l0 256-64 0L64 96zM0 403.2C0 392.6 8.6 384 19.2 384l601.6 0c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8L76.8 480C34.4 480 0 445.6 0 403.2zM288 160c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 48 48 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-48 0 0 48c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-48-48 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16l48 0 0-48z"></path></svg>`
  }
];
---
<section id="Services" class="w-full max-w-[1200px] mx-auto py-12 px-3 md:px-[72px] lg:px-[110px] flex flex-col items-center justify-center gap-12">
  <div>
    <h2 class="text-[36px] lg:text-[48px] text-white font-semibold text-center">O que fazemos</h2>
  </div>
  
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {services.map((service) => (
      <li class="w-full">
        <article class="ServiceCard w-full min-w-[300px] h-[350px] p-4 lg:p-[36px_48px] flex flex-col gap-2 lg:gap-4 text-primary bg-[#ECEBEB] rounded-[10px] transition-all duration-500 hover:bg-tertiary group">
          <figure class="w-[75px] h-[75px] rounded-[10px] bg-[#E7FAFF] flex items-center justify-center shrink-0">
            <Fragment set:html={service.iconHtml} />
          </figure>
          
          <section class="w-full p-2 flex flex-col gap-3">
            <h3 class="text-[24px] font-semibold leading-none">{service.title}</h3>
            <p class="text-[14px] text-secondary font-medium h-[100px] overflow-hidden leading-relaxed">
              {service.description}
            </p>
          </section>
          
          <a 
            href={service.link} 
            target="_blank" 
            class="border border-primary rounded-[10px] h-15 w-full flex items-center justify-center hover:bg-primary hover:text-white transition-all duration-300 py-2"
          >
            {service.textLink}
          </a>
        </article>
      </li>
    ))}
  </ul>
  
  <a 
    class="cta flex items-center justify-center bg-tertiary font-semibold mt-3 px-6 py-2 rounded-[5px] text-primary transition-all duration-300 hover:bg-primary hover:text-tertiary" 
    href="/cirurgias"
  >
    ver todos os serviços 
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24" class="ml-1 mt-0.5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"/>
    </svg>
  </a>
</section>
